.circle {
    object-fit: cover;
    border-radius: 50%;
    height: 15vw;
    width: 15vw;
}

.circle-lg {
    object-fit: cover;
    border-radius: 50%;
    height: 20vw;
    width: 20vw;
}

.circle img {
    width: 100%;
    height: auto;
}

.thumbnail {
    max-width: 50px;
    max-height: 50px;
    overflow: hidden;
}

.thumbnail>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.user-chart {
    clip-path: circle();
    width: 15vw;
    height: 15vw;
}

.flip {
    height: 15vw;
}