

img {
    max-width: 50%;
    max-height: 50%;
    size: 50%;
    align-self: center;
}

nav {
    overflow: hidden;
    padding: 2%;
}

.navBar {
    list-style: none;
    float: right;
    padding-right: 5%;
}

/* .indUser {
    margin: 7%;
    padding: 10%;
    border: 1px;
    border-color: black;
    border-style: solid;
} */

#title {
    padding-left: 3%;
}

/* #login-form-div{
    text-align: center;
    align-self: center;
    size: 150%;
    border: 3px solid green;
}
#login-form-div .form{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
} */

#user-img{
    max-width: 50%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    display: block;
    background-color: #828282;
    border-radius: 5%;
}

.card ol{
    text-align: center;
}

/* .button-div{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
} */

.green-div{
    height: fit-content;
    width: fit-content;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color:#1DB954;
    border-radius: 5%;
}

.gray-div{
    width: fit-content;
    height: fit-content;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #828282;
    border-radius: 5%;
}

.bolded-text{
    font-weight: bold;
}

.centered-text{
    text-align: center;
}

.green-div:hover {
    background-color: #199b47;
}

.gray-div:hover{
    background-color: #636262;
}