<div id="home-page" class="container">
  <div class="hero">
    <div class="hero-text-container">
      <h1 class="hero-text">MUSIC CAN BRING US
          <span class="hero-underline">TOGETHER</span>
      </h1>
      <div class="mt-6 pt-5">
        <a href="/login" class="btn btn-primary">Login</a>
        <a href="/register" class="btn btn-danger">Sign Up</a>
      </div>
    </div>
    <div class="hero-graphics-container pt-5 position-relative">
      <div class="hero-graphics">
        <img class="graphic1" src="../public/images/hero-graphic1.png" alt="person looking like they are lonely"/>
        <img class="position-absolute graphic2" src="../public/images/hero-graphic2.png" alt="person in a hat"/>
        <img class="position-absolute graphic3" src="../public/images/hero-graphic3.png" alt="another person in a hat"/>
      </div>
    </div>
  </div>
</div>