<div id="log-in-page" class="container-fluid">
    <div class="row align-items-center justify-content-center">
        <div id="form-div" class="col-md-4">
            {{#if error}}
            <div class="row justify-content-start mt-3 " id="error">
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
            </div>
            {{/if}}
            <form id="login-form" action="/login" method="POST" class="needs-validation">
                <div class="row justify-content-start mt-3">
                    <label for="username" class="form-label">Username</label>
                    <input name="username" type="text" class="form-control" id="username" value="" minlength="5"
                        maxlength="25" required>
                    <div class="invalid-feedback">
                        Please enter your username.
                    </div>
                </div>
                <div class="row justify-content-start mt-3">
                    <label for="password" class="form-label">Password</label>
                    <input name="password" type="password" class="form-control" id="password" value="" required>
                    <div class="invalid-feedback">
                        Please enter your password.
                    </div>
                </div>
                <div class="row mt-3 justify-content-between">
                    <div class="d-grid gap-3">
                        <button class="btn btn-primary form" type="submit">Login</button>
                        <a class="btn btn-primary form" href="/register">Register</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>