{{#if error}}
<div id="error">
    <p>{{error}}</p>
</div>
{{/if}}

<form id= "login-form" action="/login" method="POST">
        <label for="username">
            Username
            <input id="username" type="text" name="username" placeholder="Username"/>
        </label>
        <label for="password">
            Password
            <input id="password" type="password" name="password" placeholder="Password"/>
        </label>
        <button type="submit">Login</button>
</form>

<a href="/register">Register</a><br>
<a href="/spotify/login">Log in to Spotify</a>
