<form action="/" method="POST" id="new-user-form">
    {{#if error}}
        <div id="error">{{error}}</div>
    {{/if}}
    <label for="username"> Username:
        <input id="username" name="username"/>
    </label>
    <label for="firstName"> Password:
        <input id="firstName" name="firstName"/>
    </label>
    <label for="lastName"> Password:
        <input id="lastName" name="lastName"/>
    </label>
    <label for="email"> Password:
        <input id="email" name="email"/>
    </label>
    <label for="city"> Password:
        <input id="city" name="city"/>
    </label>
    <label for="country"> Password:
        <input id="country" name="country"/>
    </label>
    <label for="bio"> Password:
        <input id="bio" name="bio"/>
    </label>
    <label for="password"> Password:
        <input id="password" name="password"/>
    </label>
    <button class="form" type="submit">submit</button>
</form>