<form id="register-form" action="/register" method="POST">
        <label for="first-name">
            First Name
            <input id="first-name" type="text" name="first-name" placeholder="First Name"/>
        </label>
        <label for="last-name">
            Last Name
            <input id="last-name" type="text" name="last-name" placeholder="Last Name"/>
        </label>
        <label for="username">
            Username
            <input id="username" type="text" name="username" placeholder="Username"/>
        </label>
        <label for="password">
            Password
            <input id="password" type="password" name="password" placeholder="Password"/>
        </label>
        <label for="confirm-password">
            Confirm Password
            <input id="confirm-password" type="password" name="confirm-password" placeholder="Confirm Password"/>
        </label>
        <button type="submit">Register</button>
</form>