<div class="button-div">
    <button onclick="OpenForm();" id="edit-button">Edit Profile</button>
</div>
<div class="button-div">
    <button id ="cancel-button" style="display: none" onclick="CloseForm();">Cancel</button>
</div>
<form id="edit-profile-form"action="/users/{{user._id}}" method="POST" style="display: none">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>First Name</label>
            <input name = "firstName" placeholder="Update First Name" class="form-control" minlength="1" pattern="^[a-zA-Z]+( [a-zA-Z]+)*$"/>
        </div>
        <div class="form-group col-md-6">
            <label>Last Name</label>
            <input name = "lastName" placeholder="Update Last Name" class="form-control"  minlength="1" pattern="^[a-zA-Z]+( [a-zA-Z]+)*$"/>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Country</label>
            <select name="country" class="form-select" id="country"></select>
        </div>
        <div class="form-group col-md-6">
            <label>City</label>
            <input name = "city" placeholder="Update City" class="form-control" minlength="1" pattern="^[a-zA-Z]+( [a-zA-Z]+)*$"/>
        </div>
    </div>
    <div class="form-group">
            <label>Bio</label>
            <textarea name = "bio" placeholder="Update Bio" class="form-control" form="edit-profile-form" rows="3"></textarea>
        </div>  
    <button type="submit">Submit</button>
</form>

<button onclick="document.getElementById('box').style.display='block'">Delete Account</button>

<div id="box" class="modal">
  <span onclick="document.getElementById('box').style.display='none'" class="close" title="Close Modal">&times;</span>
  <form class="modal-content">
    <div class="container">
      <h1>Delete Account</h1>
      <p>Are you sure you want to delete your account? This can not be undone.</p>

      <div class="clearfix">
        <button type="button" class="cancelbtn" onclick="document.getElementById('box').style.display='none'">Cancel</button>
        <button type="button" class="deletebtn" onclick="DeleteAccount({{_id}})">Delete</button>
      </div>
    </div>
  </form>
</div>
<script type="text/javascript" language="javascript">
    $('.deletebtn').click(function(event){
    event.preventDefault();
        $.ajax({
        url: `/users/${_id}`,
        method: 'DELETE',
        });
    });
</script>
<script src="../public/js/profile.js"></script>
<script src="../public/js/forms.js"></script>
