<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/main.css">
</head>
<body>
    <header>
        {{!-- <nav>
             if !session nav bar will just be login and register
            <li class="navBar"><a href="/login/">Home</a></li>
            <li class="navBar"><a href="/register/">My Account</a></li>
        </nav>
             else: --}}
        <nav>
            <li class="navBar"><a href="/logout/">Logout</a></li>
            <li class="navBar"><a href="/users/">User List</a></li>
            <li class="navBar"><a href="/users/">My Account</a></li>
            <li class="navBar"><a href="/home/">Home</a></li>
        </nav>
        <h1 id="title">{{title}}</h1>

    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
    </footer>
</body>
</html>