{{!-- Home --}}
{{!-- Profile --}}
{{!-- Logout --}}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-2">
  <a class="navbar-brand mb-0 h1" href="/">Spinder</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
    <ul class="navbar-nav">
      {{#if isLoggedIn}}
      <li class="nav-item active">
        <a class="nav-link" href="/users">Home<span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/users/{{curr_user._id}}">My Profile<span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Settings<span class="sr-only"></span></a>
      </li>
      {{/if}}
    </ul>
    <div class="my-2 my-sm-0">
      {{#if isLoggedIn}}
      <span class="navbar-text mr-2">
        User: {{curr_user.username}}
      </span>
      <a class="btn btn-primary mr-sm-0" href="/logout">Logout</a>
      {{else}}
      <a class="btn btn-primary mr-sm-0" href="/login">Login</a>
      {{/if}}
    </div>
  </div>
</nav>