<ul class="topArtists">
    {{#each this.topArtists}}
        <li>
            <a href="{{this.spotify_url}}" target="_blank">{{this.name}}</a>
        </li>
    {{/each}}
</ul>
<ul class="topSongs">
    {{#each this.topSongs}}
        <li>
            <a href="{{this.spotify_url}}" target="_blank">{{this.name}}</a>
        </li>
    {{/each}}
</ul>    
  